<div>
  <div class="left">
    <h1>Онлайн чат</h1>
    <div id="onlineUsers">
    </div>
  </div>
  <div class="right">
    <form id="nameForm">
      <input placeholder="Введите ваше имя"/>
    </form>
    <div id="chatroom">
    </div>
    <form id="msgForm">
      <input placeholder="Введите ваше сообщение" autocomplete="off"/>
    </form>
  </div>
</div>
